body {  text-align: justify;
color: red; 
background-color: antiquewhite}
p{
    text-align: center;
    color: blue;
    background-color: burlywood}
.destra{ text-align: right;}
.sinistra{ text-align: left;}
#centrato{ text-align: center;}