.testosbarrato{ text-decoration:line-through;}
.testosottolineato{ text-decoration: underline;}
.testosoprallineato{text-decoration:overline;}

.capitalize{ text-transform: capitalize;}
.minuscolo{text-transform:lowercase;}
.maiuscolo{text-transform: uppercase;}


.p1 { font-size: 28px;}
.p { font-weight: bold;}
.p2{ line-height: 2em;}
.p3{ font-family: fantasy;}
.p4 { font-family: cursive;}
.p5 {font-style: italic;}

div{
    width: 300px;
    height: 300px;
    border-top: 2px dotted yellow;
    border-bottom: 2px dashed blue;
    border-left: 2px solid green;
    border-right: 2px solid green;
}