
body{
background-image: url("starkhd.png");
background-repeat: no-repeat;
background-position: center;
background-size:100% 100%}

.p{ position: static; font-size:50px;font-style: normal; text-decoration: underline; font-family: monospace;}
.p2{position: static; font-size:30px;font-style: normal; font-family: monospace;}
.p3{position: static; font-size:15px;font-style: normal; font-family: monospace;}
.p4{position: static; font-size:30px;font-style: oblique ; text-decoration: underline; font-family: monospace;}