!!!COSA TROVIAMO SCRITTO SULLA PAGINA CSS!!

body{
background-image: url("razer-logo.jpg");
background-repeat: no-repeat;
background-position: center;
background-size:200px 200px;
 <!--Per immagine fissa---_>   
    background-attachment:fixed; >
 <!--Per immagine in movimento-->    
background-attachment:scroll;
<!--Immagine ripetuta orizzontale-->
     background-repeat: repeat-x;
<!--Immagine ripetuta in verticale-->
     background-repeat: repeat-y;

    
 ..............................   
    
    !!!COSA TROVIAMO SULLA PAGINA HTML!!
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="style.css" type="text/css">

</head>

<body>

<p> testo qualsiasi </p>

</body>
</html>