<!---!!!COSA TROVIAMO SU CSS-->
.testosbarrato{ text-decoration: line-through;}
.testosoprallineato { text-decoration: underline;}
.testosottolineato  {text-decoration: overline;}
.testoblink {text-decoration: blink;}
..............................
<!--!!!COSA TROVIAMO SU HTML--->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="style.css" type="text/css">

</head>

<body>

<p>Testo normale</p>
<p class="testosbarrato">Testo sbarrato</p>
<p class="testosottolineato">Testo sottolineato</p>
<p class="testosoprallineato">testo soprallineato</p>
<p class="testoblink">Testo blink</p>

</body>
</html>


-------------------------------------
<!!COSA TROVIAMO SU CSS!!>
.capitalize {text-transform:capitalize;}
.minuscolo { text-transform:lowercase}
.maiuscolo {text-transform:uppercase}

........................................

<!!COSA TROVIAMO SU CSS!!>
!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="style.css" type="text/css">

</head>

<body>
<p>Testo normale</p>
<p class="capitalize">Testo con iniziale maiusc. </p>
<p class="minuscolo">TESTO MINUSCOLO</p>
<p class="maiuscolo">testo maiuscolo </p>
</body>
</html>