FONT DI TESTO :

<!!!COSA VEDIAMO NELLA SCHEMRATA CSS!!>

.p{ font-size:28px;  }
.p2{font-weight: bold;}
.p3{ font-weight:600}
.p4 {line-height:5em;}
.p5 {font-family: Consolas,Bahnschrift,"Times New Roman",monospace;}
.p6 {font-family: "Comic Sans MS","Times New Roman",Candara;}
.p7{font-style: italic}
.................................

<!!!COSA VEDIAMO NELLA SCHERMATA HTML!!>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="style.css" type="text/css">

</head>

<body>
<p>Testo normale</p>
<p class="p">Testo 28pixel </p>
<p class="p2">Testo grassetto con misura predefina</p>
<p class="p3">testo grassetto con valore </p>
<p class="p4">Testo con spazziatura fra le righe predefinita: <br>
              Testo con allineamento e formattazione particolare. <br>
              Testo con allineamento e formattazione particolare.</p>

<p class="p5">Insieme di classi diverse, ma leggerà quella più idonea partendo da sinistra.</p>
<p class="p6"> Stessa prova con altri cartteri. </p>
<p class="p7">Testo in corsivo</p>

</body>
</html>
