BORDI E PADDING:
<!!!CORSA TROVIAMO SU CSS!!>
<!--SOLID/DOTTED/DASHED sono i vari tipi di contorno-->
div{width:300px;
    height:300px ;
    border: 2px solid red;}
div{width:300px;
    height:300px ;
    border: 2px dotted red; }
div{width:300px;
    height:300px ;
    border: 2px dashed red;}

<!-Border-x si usa per indicare come vogliamo che venga visualizzato quel bordo->
div{width:300px;
    height:300px ;
    border-top: 1px solid red;
    border-bottom: 1px dashed blue;
    border-left: 1px dotted red;
    border-right: 1px solid yellow;}

<!-Il padding serve per distanziare->
div p{ padding-left: 5px;
       padding-top: 5px;}

........................................
<!!!COSA TROVIAMO SULLA PAGINA HTML!!!>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="style.css" type="text/css">

</head>

<body>
<div>
    <p>Testo del div con bordo prestabilito x
        Tutto questo va bene anche x le immagini.
        i "divp" hanno anche loro su/giu/dx/sx</p>
</div>
</body>
</html>