BORDI E PADDING:
<!!!CORSA TROVIAMO SU CSS!!>
div{width:300px;
    height:300px ;
    border: 1px solid red;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom:50px;}
.div2{width:100px;
    height:100px ;
    border: 1px solid red;
    margin-left: 25px;
    margin-top: 35px;}
.div3{width:300px;
    height:300px ;
    border: 1px solid blue;
    margin-left: 10px;
    margin-top:50 px;
    margin-bottom:10px;}

..................................

<!!!COSA TROVIAMO SULLA PAGINA HTML!!!>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="style.css" type="text/css">

</head>

<body>
(Si possono inserire più div dentro un div facendo riferimento ognungo a un div specifico.)
<div>
    <p>Testo del div con bordo prestabilito x. Tutto questo va bene anche x le immagini.
    i "div.p" hanno anche loro su/giu/dx/sx</p>
<div class="div2">
    <h1>DIV2</h1>
</div>


</div>
<div class="div3">
    <p>Testo del div con bordo prestabilito x
        Tutto questo va bene anche x le immagini.
        i "divp" hanno anche loro su/giu/dx/sx</p>
</div>


</body>
</html>