ARROTONDARE I BORSI CSS
<!!!COSA TROVO SULLA PAGINA CSS!!>

div{width:300px;
    height:300px ;
    border: 1px solid red;
    margin-left: 25px; }

.radius{
    width: 200px;
    height:200px;
    margin-left:55px;
    margin-top: 15px;
    border: 1px solid blue;
    border-radius:5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; }


.......................................

<!!!COSA TROVO SULLA PAGINA HTML!!!>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="style.css" type="text/css">

</head>

<>
<div>
    <p>Testo del div con bordo prestabilito x
        Tutto questo va bene anche x le immagini.</p>
</div>

<div class="radius">
    <p>Testo del div con bordo prestabilito x
        Tutto questo va bene anche x le immagini.</p>
</div>
</html>