IMMAGINE COME BORDO
<!!cosa vediamo su ccs!!!>


border-immagine{
    width: 300px;
    height: 300px;
    margin-left: 50px;
    border: 10px solid transparent;
    border-image:url("800px-Sunflower_from_Silesia2.jpg") 100 round;} (per l immagine intorno)
border-immagine{
    width: 300px;
    height: 300px;
    margin-left: 50px;
    border: 10px solid transparent;
    border-image:url("800px-Sunflower_from_Silesia2.jpg") 100 repeat;} (per l immagine ripetuta)
.border-immagine{
    width: 300px;
    height: 300px;
    margin-left: 50px;
    border: 40px solid transparent;
    border-image:url("800px-Sunflower_from_Silesia2.jpg") 150 stretch ;} (per farla stringere)
....................................
<!!! cosa avremmo su HTML!!>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="style.css" type="text/css">

</head>

<div class="border-immagine">
<div> <h1> div con border immagine </h1> </div>
</div>

</div>
</html>