OMBRA SUL TESTO

Cosa vedo su css:
.shadow{
    fontsize: 26px;
    color: whitesmoke;
    text-shadow: 3px(lunghezza) 5px(spaziatura) 2px(trasparenza) black;
    text-transform: uppercase}
...............................................

Cosa vedo su Html:
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="style.css" type="text/css">

</head>

<div>
<p class="shadow"> text shadow </p>

</div>
</html>
