FORMARE LISTE CSS

Cosa vediamo su css:
Le liste si posso modellare sia con un immagine accanto al dicitura (ex UL) sia con vari caratteri numeri (ol) sia con spaziature fra i vari punti (ol padding)
ul li{
    list-style: url("800px-Sunflower_from_Silesia2.jpg");}

ol li{
    list-style-type: lower-greek;
    padding-top:15px;}

.......................................................

Cosa vediamo su HTML:
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="style.css" type="text/css">

</head>

<div>
<ul>
    <li> uno</li>
    <li> due</li>
    <li> tre</li>

</ul>
<ol>
    <li> uno</li>
    <li> due</li>
    <li> tre</li>
</ol>

</div>
</html>