!!! STILI DI TABELLE!! 

Cosa vediamo su Css:

table{border: 1px solid black; width: 400px; height: 500px;}
tr,th{ border: 1px solid red}
td{ border: 1px solid green; text-align: center; padding:5px;}

Le sotto categorie.
Quando passo sopra con il mouse cambia colore:
tr:hover{ background-color: yellow} 

Ha colori diversi a celle alterne una si e una no "Even/Odd"
tr:nth-child(even){ background-color:blu}

................................................

Cosa vediamo su HTML:

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="style.css" type="text/css">

</head>
<body>
    <table>
        <thead>
    <tr>
        <th> Nome</th>
        <th>Cognome</th>
        <th> Anni</th>
    </tr>
        </thead>
    <tbody>
    <tr>
        <td> Barbara</td>
        <td> Tenuzzo</td>
        <td> 23</td>

    </tr>
    <tr>
        <td> Barbara</td>
        <td> Tenuzzo</td>
        <td> 23</td>
    <tr>
        <td> Barbara</td>
        <td> Tenuzzo</td>
        <td> 23</td>

    </tr>


    </tr>

    </tbody>
</table>

</body>

</html>