 EFFETTI DI TRANSIZIONE E TRASFORMAZIONE:
-DA APPLICARE NEL DIV DELLA PAGINA HTML-
-SI POSSONO USARE TUTTI I MARGIN/BORDER ecc-
Cosa vediamo su CSS:
   
   !!TRANSIZIONE!!
div{
    border: 1px solid red;
    width: 200px; height: 200px;
                                 }
div:hover{
    border:1px solid red;
    background-color: yellow;
    transition: lenght 5s;
    width: 500px; height: 500px;
                                 }
                                 
  
 !!TRASFORMAZIONE ROTAZIONE!!
 div{
    border: 1px solid red;
    width: 200px; height: 200px;
                                 }
div:hover{
    border:1px solid red;
    background-color: yellow;
    transform:rotate(50deg);
    width: 500px;
    margin-left: 120px;
    margin-top: 50px; }
    
   
   
   !!TRASFORMAZIONE TRANSIZIONE!!  
    div{
    border: 1px solid red;
    width: 200px; height: 200px;
                                 }
div:hover{
    border:1px solid red;
    background-color: yellow;
    transform:translate(50px,60px);
    width: 500px;
    margin-left: 120px;
    margin-top: 50px; }
    
   