             IL GRADIENTE
COSA VEDIAMO IN CSS:


-Serve per cololare la casella secondo un modo specifico ex:da sx verso dx e viceversa.
Scefgliendone i vari colori e le percentuali-
div{
    border: 1px solid red;
    width: 200px; height: 200px;
    (comando generale)
    background: linear-gradient(left, red 35%, blue);
    (comando x i vari siti web)
    background: -webkit-linear-gradient(bottom,red,blue);
    background: -o-linear-gradient(right,red,blue);
    background: -moz-linear-gradient(top,red,blue); }
    
    
    
    
    
    
    
    
    
    
    
    ..........................................
    
    COSA VEDIAMO SU HTTP:
    
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="style.css" type="text/css">

</head>
<body>
<div>
    DIV 1
</div>
</body>

</html>