<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

  <!--Per uno stile esterno alla pagina/alle pagine. Che si trova su un altra scheda.-->
    <link rel="stylesheet" type="text/css" href="style.css>"

    <!--Per uno stile in linea, ovvero direttamente sull'elemento di interesse
    <body style="color:green">
    TESTO ELEMENTO DI INTERESSE
    </body> -->

 <!--per uno stile interno alla pagina-->
   <!-- <style> body{ color: red;} </style> -->
</head>

<body>
TESTO FORMATTATO IN ROSSO!
</body>



</html>

------------------------------
<!--SULLA PAGINA CSS TROVO-->
body{
<!--soloperiltesto-->
    color:red;
<!--soloxlosfondo-->
background-color:yello;
                             }
p{color blue;
    background-color:white; }
-------------------------------
<!--CLASSI ALLINEAMENTO TESTO-->
body{text-align: justify; }
p{text-align: center;}  <!-Questo serve per tutti i paragrafi di testo-->
<!--DoveLoVoglioAllineare!!Lo inserisco nella <p> della pagina html-->
.destra{text-align: right;}
.sinistra{text-align: left;}
<!--PERANDAREADAGIREINUNPUNTOSPECIFICO-->
<span id="centrato">xxx </span>(COSA SCRIVERE SULLA PAGINAHTML)

#centrato{
    text-align: center; (cosa scrivere sulla pagina di css)
--------------------------------