html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *:after, *:before { 

	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
}
body, html { 
	font-size: 100%; 
	padding: 0; margin: 0;
}


body {
	font-family: Arial, sans-serif;
	color: #000;
	background: #B8DDE3;
}

a {
	color: #;
	text-decoration: none;
}
h1{
color:#000;	
}section {
     max-width: 1000px;
     margin: 0 auto;
     overflow: hidden;
     position: relative;
     padding: 10px 0px 0px 10px;
   }

section article {
     vertical-align:top;
     display: inline-block;
     width:50%;
     margin-bottom:-5px;
}

section img {
    width:100%;
    height:auto;
    padding:0px;
     border:1px solid #000;
      -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);}section .info {
      width: 180%;
      padding: 2em 0;
      margin: 0;
      position: relative;
      float: left;
      opacity: 1;
      height: 0;
      font-size: 0;
    }

    section .info h1 {
      margin-bottom: .5em;
	  color:#000;
    }
    section .info p {
      margin-bottom: 2em;
      line-height: 140%;
	  color:#000;
    }
    
    
    section .info .maggioriInfo {
      display: block;
	  margin-left:10px;
      margin-top: 0em;
      padding: .4em;
      background:#4C9ED9;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      font-size: 1em;
       -webkit-transition: 0.5s background-color;
       -moz-transition: 0.5s background-color;
       -ms-transition: 0.5s background-color;
       -o-transition: 0.5s background-color;
       transition: 0.5s background-color;
}
 
    section .info .maggioriInfo:hover {
      background-color: #000;
    }

     article:nth-child(2n+1) .info {
      left: 0;
    }
    article:nth-child(2n+2) .info {
      left: -100%;
    }

    section article:target .info {
      height: auto;
      font-size: 100%;
      opacity: 1;
      -webkit-transition: .4s .4s opacity;
    }

    section article:target img {
     border: 3px solid #4C9ED9; 
      -webkit-transition: .5s;
	  -moz-transition: .5s;
	  -o-transition: .5s;
    }


    section article:nth-child(4n+1) .info {
      left: 0;
    }
    section article:nth-child(4n+2) .info {
      left: -109%;
    }
    section article:nth-child(4n+3) .info {
      left: -218%;
    }
	section article:nth-child(4n+4) .info {
      left: -327%;
    }
