.paragrafo{
    text-align: center;
    font-size: 18px;
    color:blue;
    font-family: cursive;}

.div1{
    width: 400px;
    height: 400px;
    border: 1px solid blue;
    margin-left: :25px
        padding:15px;
    margin-bottom: 15px;
}